<div>
  <div>
    <button
      type="button"
      [class.selected]="isSelected('year', 'all')"
      [disabled]="isSelected('year', 'all')"
      (click)="filterByYear()"
    >
      see all
    </button>
    @for (year of fYears(); track $index) { -
    <button
      type="button"
      [class.selected]="isSelected('year', year)"
      [disabled]="isSelected('year', year)"
      (click)="filterByYear(year)"
    >
      {{ year }}
    </button>
    }
  </div>

  <div>
    @for (filter of filters(); track $index) {
    <button
      type="button"
      [class.selected]="isSelected('by', filter.value)"
      [disabled]="isSelected('by', filter.value)"
      (click)="filterByCategory(filter.value)"
    >
      {{ filter.name }}
    </button>
    - }
  </div>
</div>
