.title {
  color: #f1ff46;
  font-weight: 700;
  font-size: 24px;
  font-family: "Lora", serif;
  margin-block-end: 16px;
  text-transform: lowercase;
}

.list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.small {
    max-width: 200px;
  }

  &.medium {
    max-width: 260px;
  }

  &.large {
    max-width: 476px;
  }

  > li {
    color: #000;
    padding: 6px 12px 6px 12px;
    font-size: 18px;
    font-weight: 700;

    &:nth-child(5n + 1) {
      background: #f1ff46;
      margin-inline-end: 5px;
    }

    &:nth-child(5n + 2) {
      background: #12d761;
      margin-inline-end: 2px;
    }

    &:nth-child(5n + 3) {
      background: #ff8b1e;
      margin-inline-end: 2px;
    }

    &:nth-child(5n + 4) {
      background: #f774c2;
    }

    &:nth-child(5n + 5) {
      background: #000;
      border: 1px solid #f1ff46;
      border-top: 0;
      color: #fff;
    }

    ::ng-deep .author {
      font-size: 14px;
    }
  }
}
