:host {
  display: block;
  margin-block-end: 100px;
  margin-inline: 30px;
}

.start-end-year {
  display: flex;
  justify-content: center;
  margin-block-start: 55px;

  & .text {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #f1ff46;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    max-inline-size: 144px;
  }
}

.book-cover {
  outline: 10px solid #f774c2;
  border-radius: 200px;
  inline-size: 219px;
  block-size: 328px;
  margin-inline: 30px;
}

.book-container {
  display: flex;
  align-items: center;
}

.graphic {
  background-image: url("../../../../../../public//line-yellow.svg");
  background-repeat: no-repeat;
  background-position: center;
  inline-size: 630px;
}

.common-lists {
  margin-block-start: 95px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  max-inline-size: 1000px;

  &.by-year {
    margin-block-start: 40px;
  }
}

.year {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f1ff46;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  display: block;
  margin-block-start: 95px;
}
