:host {
  display: block;
  margin-block-end: 100px;
  margin-inline: 30px;
}

.title {
  color: #f1ff46;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  font-family: "Lora", serif;
}

.common-lists {
  margin-block-start: 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  max-inline-size: 1000px;
}
