<main>
  @if(loader$ | async){
  <app-loader class="loader"></app-loader>
  }
  <img
    src="pink-spikes.svg"
    alt=""
    width="385"
    height="1080"
    class="pink-spikes"
  />
  <img
    src="yellow-spikes.svg"
    alt=""
    width="485"
    height="1081"
    class="yellow-spikes"
  />
  <section>
    <h1 class="logo">
      <img src="logo.svg" alt="nicereads wrapped" />
    </h1>
    <p class="text">
      <span class="highlight">nicereads wrapped</span> wrapped is a cool app
      that gives you a summary of your reading.
    </p>
    <p class="text">
      Just upload a CSV file from your Goodreads or Open Library account, and
      the app does the rest. It highlights your favorite books, the authors you
      read the most, and your top genres, along with fun stats like the total
      pages read and the longest book you finished.
    </p>
    <div class="form">
      <div class="input-container">
        <input
          type="file"
          id="csv"
          name="csv"
          class="inputfile"
          (change)="onSelectFile($event)"
        />
        <label [className]="fileName ? 'filled' : ''" for="csv">{{
          fileName ? fileName : "Upload here your csv"
        }}</label>
      </div>
      @if (wrongFile) {
      <span class="error">Wrong file type, it should be a csv</span>
      }
      <button class="btn-primary" [disabled]="goBtn" (click)="generateData()">
        let's get started!
      </button>
    </div>
  </section>
  <div class="footer">
    <p>created with love by maria, marina and clara</p>
  </div>
</main>
