:host {
  block-size: 100vh;
  display: block;
  inline-size: 100%;
  overflow: hidden;
  position: relative;
}

main {
  position: relative;
}

img {
  inline-size: auto;
  max-block-size: 75%;
  pointer-events: none;
  position: absolute;
  transition: transform 0.2s ease-in-out;
  z-index: -5;

  &.pink-spikes {
    left: -375px;
    top: -215px;
  }

  &.yellow-spikes {
    right: -15px;
    bottom: 0;
  }

  &.books-pile {
    max-block-size: 50%;
    left: -25px;
    bottom: -50px;
  }
}

@media (max-width: 1600px) {
  img {
    max-block-size: 40%;

    &.pink-spikes {
      left: -120px;
      top: -75px;
    }

    &.yellow-spikes {
      right: -10px;
    }

    &.books-pile {
      max-block-size: 35%;
      left: -10px;
      bottom: -30px;
    }
  }
}

.title {
  color: #12d761;
  display: block;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  padding-top: 30%;
  margin-block-end: 65px;
}

.text {
  color: #12d761;
  font-size: 18px;
}

.highlight {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.form {
  margin-block-start: 65px;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  color: #12d761;
  display: inline-block;
  margin-block-end: 20px;
  border: 1px solid #12d761;
  border-radius: 4px;
  padding: 20px 40px;

  &.filled {
    border: none;
  }
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
}

.btn-primary {
  margin-block-start: 65px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  inline-size: 100%;
  margin-block-end: 26px;
  color: white;
  text-align: center;
}

.error {
  color: #12d761;
  display: block;
}
